/* :: 색상 정리  ::
  파란색 : #34495E
  흰색   : #EAE9E1
    투명도 80% : rgba(234, 233, 225, 0.8)
  노란색 : #F5CB5B
    투명도 80% : rgba(245, 203, 91, 0.8)
  빨간색 : #E86F51
*/
/*  글꼴 추가  Langar */
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/* 태그 */
html {height:100%; overflow: hidden;}
body {
  height:100%;overflow: hidden;
  background-color:#34495E;
  color : #EAE9E1;
  font-size:3rem;
}
a {
  text-decoration: none;
  color : #EAE9E1;
}
/* 버튼 css */
button {
  width:4rem;height:4rem;border-radius:100%; background-color:#EAE9E1; margin-top:2rem; margin-left:1rem;
  border: none;
}
button:focus {outline:0;}
